body{

}
.hide-cursor{
	 cursor: none;
}

.screen-too-small {
	display: none;
}
.canvasHolder{
	margin: auto;
  	position: relative;
  	/*top: 0; left: 0; bottom: 0; right: 0;*/
	border: 10px outset blue;
	width:1005px;
	height: 600px;
	background: rgb(200,200,200);
	background: rgba(200,200,200,0.5);
	

}

.start-button{
	width: 25%;
	margin: 15% auto;
	padding: 5%;
	background: gray;
	text-align: center;
	font-size: 3em;

}

header {
	margin: 10vh 10vw;
	width: 90vw;
	height: 85vh;
	background: '#cff';
}

.gameSection{
	background: url('../images/hanawa.jpg');
	background-size: cover;
}